---
title:  "VT Code Camp Testing"
---

<head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width"> 
    <style>

        body {
            max-width: 700px;
            margin: 2rem auto;
            padding: 2rem;
        }
        h2, h3 {
            margin-top: 4rem;
        }

    </style>
</head>

<body>

<h1> {{title}} </h1>

<h2>Speakers</h2>

{% for speakerCode, speaker in speakers %} 

    <h3 id="{{speakerCode}}"> {{speaker.firstname}} {{speaker.lastname}} </h3>
    
    <p> {{speaker.bio}} </p>

    <h4> {{speaker.firstname}}'s Sessions </h4>

    <ul>
    
    {% for sessionCode in speaker.sessions %}

        <li>
            <a href="#{{sessionCode}}">{{ sessions[sessionCode].title }} </a>
            (track: {{ sessions[sessionCode].track }})
        </li>

    {% endfor %}

    </ul>


{% endfor %}

 
<h2>Sessions</h2>

{% for sessionCode, session in sessions %} 

    <h3 id="{{sessionCode}}"> {{session.title}} </h3>
    
    <h4> 
    {% for speakerCode in session.speakers %}
        {% set speaker = speakers[speakerCode] %}
        <a href="#{{speakerCode}}">{{speaker.firstname}} {{speaker.lastname}}</a>,
    {% endfor %}
    </h4>

    <p> {{session.description}} </p>


{% endfor %}


</body>