---
layout: page.njk
title:  "Sessions"
---

{% for sessionCode, session in sessions %} 

    <h3 id="{{sessionCode}}"> {{session.title}} </h3>
    
    <h4> 
    {% for speakerCode in session.speakers %}
        {% set speaker = speakers[speakerCode] %}
        <a href="/speakers/#{{speakerCode}}">{{speaker.firstname}} {{speaker.lastname}}</a>,
    {% endfor %}
    </h4>

    <p> {{session.description}} </p>


{% endfor %}